<template>
    <div class="container">
        <navigation-component></navigation-component>
        <router-view></router-view>
    </div>
</template>

<script>
import NavigationComponent from './NavigationComponent'
export default {
    mounted() {   
        axios.get('/api/auth/me')
        .then( response => {
            var data = response.data;
            this.$store.state.currentUser = data;
        }).catch( error => {
            const err_res = error.response;
            if(err_res.hasOwnProperty('data')) {
                let data = err_res.data;
                if(err_res.status === 401){
                    localStorage.removeItem('token')
                    this.$store.commit('logoutUser')
                    this.$router.push({ name: 'login' })
                }
            }
        })
    },
    components : { NavigationComponent }
}
</script>

