<template>
    <div class="col-md-5 mx-auto align-self-center">
        <div class="card">
            <h5 class="card-header">Sign In</h5>
            <div class="card-body">
                <form v-on:submit.prevent="signIn" novalidate>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-user-circle fa-fw"></i>
                            </span>
                        </div>
                        <input v-validate="'required|email'" type="email" name="email" class="form-control" placeholder="Email" v-model="field.email">
                    </div>
                    <div class="text-danger mt-1">
                        <span v-if="errors.has('email')">{{ errors.first('email') }}</span>
                    </div>
                    <div class="input-group mt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-user-lock fa-fw"></i>
                            </span>
                        </div>
                        <input v-validate="'required|min:6'" type="password" name="password" class="form-control" placeholder="Password" v-model="field.password">
                    </div>
                    <div class="text-danger mt-1">
                         <span v-if="errors.has('password')">{{ errors.first('password') }}</span> 
                    </div>    
                    <div class="form-group clearfix mt-3">
                        <button type="submit" class="btn btn-default float-right">
                            <span v-show="!isSigningIn">
                                <i class="fas fa-sign-in-alt fa-fw"></i>
                            </span>
                            <span v-show="isSigningIn">
                                <i class="fas fa-spinner fa-pulse fa-fw"></i>
                            </span>
                            &nbsp;
                            Sign In
                        </button>
                    </div>
                </form>
                <div class="row align-items-center justify-content-center">
                    <router-link :to="{ name: 'register' }" tag="a">Create Account</router-link>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            field : {
            
            },
            isSigningIn : false
        }
    },
    methods : {
        signIn() {
            this.$validator.validate().then(result => {           
                if (result) {
                    this.isSigningIn = true
                    axios.post('/api/auth/login', this.field)
                    .then(response => {
                        this.$store.commit('loginUser')
                        localStorage.setItem('token', response.data.access_token)
                        this.$router.push({ name: 'home' })
                    })
                    .catch(error => {
                        this.isSigningIn = false
                        const err_data = error.response.data;
                        if(err_data.hasOwnProperty('error')) {
                            this.$toasted.global.showErrorMsg({
                                message : err_data.error
                            })
                        }
                    })
                }
            })    
        },
    },
}
</script>

