<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
        <a class="navbar-brand" href="#">
            <i class="far fa-sticky-note fa-fw"></i>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <router-link tag="li" class="nav-item" :to="{ name : 'home' }" exact>
                    <a class="nav-link">Memos</a>
                </router-link>
            <li class="nav-item">
                <router-link tag="li" class="nav-item" :to="{ name : 'favourites' }" exact>
                    <a class="nav-link">Favourites</a>
                </router-link>
            </li>
            </ul>
            <span class="navbar-text" v-on:click.prevent="logOut">
              <a class="nav-link" href="#">Logout</a>
            </span>
        </div>
    </nav>    
</template>

<script>
export default {
    methods : {
        logOut(){
            console.log('logout')
            axios('/api/auth/logout')
            .then( response => {
                console.log(response, "response")
                this.$store.commit('logoutUser')
                localStorage.removeItem('token')
                this.$router.push({ name: 'login' })
            })
            .catch( error => {
                console.log(error.response)
            })
        }
    }
}
</script>

<style scoped>
    .navbar-brand{
        margin-right : 0;
    }
</style>
