<template>
    <div class="col-md-5 mx-auto align-self-center">
        <div class="card">
            <h5 class="card-header">Sign Up</h5>
            <div class="card-body">
                <form v-on:submit.prevent="signUp" novalidate>
                    <div class="form-group mb-0">
                        <input v-validate="'required|alpha_spaces'" type="text" name="name" class="form-control" placeholder="Full Name" v-model="field.name">
                    </div>
                    <div class="text-danger mt-1">
                        <span v-if="errors.has('name')">{{ errors.first('name') }}</span>
                    </div>
                    <div class="form-group mb-0 mt-3">
                        <input v-validate="'required|email|unique'" type="text" name="email"  class="form-control" placeholder="Email" v-model="field.email">
                    </div>
                    <div class="text-danger mt-1">
                        <span v-if="errors.has('email')">{{ errors.first('email') }}</span>
                    </div>
                    <div class="form-group mb-0 mt-3">
                        <input v-validate="'required|min:6'" ref="password" type="password" name="password"  class="form-control" placeholder="Password" v-model="field.password">
                    </div>
                    <div class="text-danger mt-1">
                        <span v-if="errors.has('password')">{{ errors.first('password') }}</span>
                    </div>
                    <div class="form-group mb-0 mt-3">
                        <input v-validate="{ required : true,  confirmed: 'password'}" type="password" name="confirm_password"  class="form-control" placeholder="Confirm Password" v-model="field.confirm_password" data-vv-as="confirm password">
                    </div>
                    <div class="text-danger mt-1">
                        <span v-if="errors.has('confirm_password')">{{ errors.first('confirm_password') }}</span>
                    </div>
                    <div class="form-group clearfix mt-3">
                        <button type="submit" class="btn btn-default float-right">
                            <span v-show="isSigningIn">
                                <i class="fas fa-spinner fa-pulse fa-fw"></i>
                                &nbsp;
                            </span>
                            Sign Up
                        </button>
                    </div>
                </form>
                <div class="row align-items-center justify-content-center">
                    <router-link :to="{ name: 'login' }" tag="a">Login</router-link>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            field : {

            },
            isSigningIn : false
        }
    },
    methods : {
        signUp() {
            
             this.$validator.validate().then(result => {           
                if (result) {
                    this.isSigningIn = true
                    let self = this
                    axios.post('/api/auth/register', this.field)
                    .then(response => {
                        const success_data = response.data
                        this.$toasted.global.showSuccessMsg({
                            message : success_data.success
                        })                        
                        this.isSigningIn = false
                        setTimeout(() =>{
                            self.$router.push({ name: 'login' })
                        }, 1500);
                    })
                    .catch(error => {
                        this.isSigningIn = false
                        const err_data = error.response.data;
                        if(err_data.hasOwnProperty('error')) {
                            this.$toasted.global.showErrorMsg({
                                message : err_data.error
                            })
                        }
                    })
                }
             })    
        }
    },
    created(){
        this.$validator.extend('unique', {
            validate: value => {
                return axios.get('/api/auth/check/' + value)
                        .then( response => {
                            if(response.data > 0){
                                return {
                                    valid : false,
                                    data : {
                                        message : `${value} is already taken.`
                                    }
                                }
                            }
                            return {
                                valid : true
                            }  
                        })
            },
            getMessage: (field, params, data) => data.message
        })
    }
}   
</script>

