
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.hand {
  cursor: pointer;
}

hr{
  &.divider{
    margin-top: 0.5rem;
    margin-bottom: 1.1rem;
  }  
}

.toasted-container{
  .toasted{
    & > svg{
      margin-right: .5rem;
      margin-left: -.4rem;
    }
  }
}

.dropdown-toggle{
   &:after, &:before {
    display: none !important;
  }
}

