<template>
    <div class="row mt-1">
        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <form v-on:submit.prevent="submitPost" novalidate>
                        <input type="text" v-validate="'required|max:50'" name="title" v-model="field.title" class="form-control" placeholder="Title">
                        <div class="text-danger mt-1">
                            <span v-if="errors.has('title')">{{ errors.first('title') }}</span>
                        </div>
                        <textarea v-validate="'required'" name="content" v-model="field.content" cols="30" rows="6" class="form-control mt-2" placeholder="Content">
                        </textarea>
                        <div class="text-danger mt-1">
                            <span v-if="errors.has('content')">{{ errors.first('content') }}</span>
                        </div>
                        <label class="label-control mt-2">Attached Image:</label>
                        <input v-validate="'image|size:2000'" type="file" name="image" v-on:change="onFileChange" id="file" ref="file"  class="form-control">
                        <div class="text-danger mt-1">
                            <span v-if="errors.has('image')">{{ errors.first('image') }}</span>
                        </div>
                        <img :src="image" alt="" class="img-fluid img-thumbnail mt-2" v-if="field.attached_file">
                        <button type="submit" class="btn btn-primary float-right mt-2" v-if="!edit" :disabled="isSaving">
                            <span v-show="isSaving">
                                <i class="fas fa-spinner fa-pulse fa-fw"></i>
                                &nbsp;
                            </span>
                            Save
                        </button>
                        <div v-else class="mt-3">
                            <button type="button" class="btn btn-danger float-right" v-on:click="cancelEdit" :disabled="isSaving">Cancel</button>
                            <button type="submit" class="btn btn-primary float-right mr-1" :disabled="isSaving">
                                <span v-show="isSaving">
                                    <i class="fas fa-spinner fa-pulse fa-fw"></i>
                                &nbsp;
                                </span>
                                Update
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
           <div class="card mt-2" v-for="memo in memos" v-bind:key="memo.id">
                <div class="clearfix pt-2">
                    <div class="float-left pl-3 pt-1 hand" v-on:click="setFavourite(memo)" :title="memo.favourite? 'Removed to Favourite':'Add To Favourite'">
                        <span v-show="memo.favourite === 1">
                            <i class="fas fa-star fa-fw"></i>
                        </span>
                        <span v-show="memo.favourite === 0">
                            <i class="far fa-star fa-fw"></i>
                        </span>
                    </div>
                    <div class="float-right pr-2 pt-1">
                        <div class="dropleft">
                            <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-fw hand"></i>
                            </span>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#" v-on:click.prevent="editPost(memo)">
                                   <i class="fas fa-pencil-alt fa-fw"></i>  Edit
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"  v-on:click.prevent="deletePost(memo)">
                                    <i class="fas fa-trash fa-fw"></i>  Delete
                                </a>
                            </div>
                        </div>
                    </div>
                </div>  
                <div class="card-body pt-3">
                    <h5 class="card-title font-weight-bold">{{ memo.title }} <hr class="divider" /> </h5>
                    <p class="card-text" v-text="memo.content"></p>
                    <img :src="'/storage/images/' + memo.attached_file" alt="" class="img-fluid img-thumbnail mt-2" v-if="memo.attached_file">
                    <pre class="float-right mt-3 mb-0 text-muted">Created at {{ memo.created_at | formatDate('lll')}}</pre>
                </div>
            </div>
            <div class="col-md-5 mx-auto align-self-center mt-3" v-show="pagination.total">
                <ul class="pagination">
                    <li class="page-item" v-on:click="paginate(pagination.prev_page_url)" :class="[{ disabled : !pagination.prev_page_url}]">
                        <a class="page-link" href="#">Previous</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link text-dark" href="#">
                            Page {{ pagination.current_page }} of {{ pagination.last_page }}
                        </a>
                    </li>
                    <li class="page-item" v-on:click="paginate(pagination.next_page_url)" :class="[{ disabled :!pagination.next_page_url}]">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    created() {
        console.log('created at')
        this.getMemos();
    },
    data() {
        return {
            image : '',
            edit : false,
            field : {
                attached_file : null,
            },
            memos : {

            },
            isSaving : false,
            pagination : {

            }
        }
    },
    methods : {
        submitPost() {
            this.$validator.validate().then(result => {
                if(result){
                    this.isSaving = true
                    const data = new FormData()
                    data.append('id', this.field.id)
                    data.append('user_id', this.$store.state.currentUser.id)
                    data.append('title', this.field.title)
                    data.append('content', this.field.content)
                    data.append('attached_file', this.field.attached_file)
                    const url = !this.edit? "/api/memo/create" : "/api/memo/update"                 
                    axios.post(url, data, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    })
                    .then( response => {
                        const success_data = response.data
                        this.$toasted.global.showSuccessMsg({
                            message : success_data.success
                        })  
                        this.resetData()    
                        this.getMemos()
                        this.isSaving = false
                    })
                    .catch( error => {
                        this.isSaving = false
                        const err_data = error.response.data;
                        if(err_data.hasOwnProperty('error')) {
                            this.$toasted.global.showErrorMsg({
                                message : err_data.error
                            })
                        }
                    })
                }
            })
        },
        getMemos(url) {
            const curr_url = url || "/api/memo/all"
            axios.get(curr_url)
            .then(response => {
               const result = response.data
               this.pagination = result
               this.pagination.current_page_url = url
               this.memos = this.pagination.data
            })
            .catch(error => {
                console.log(error.response)
            })
        },
        paginate(url){
           this.getMemos(url)
        },
        onFileChange(e) {
            let files = e.target.files || e.dataTransfer.files
            if (! files.length) {
                return
            }     
            var self = this
            setTimeout(function(){
                self.field.attached_file = null              
                if(self.errors.has('image')){
                    self.$refs['file']['value'] = ""
                    return
                }
                const file = files[0]
                self.field.attached_file = file
                self.createImage(file)
            }, 0)           
        },
        createImage(file) {
            let reader = new FileReader()
            let self = this
            reader.onload = (e) => {
                self.image = e.target.result
            };
            reader.readAsDataURL(file)
        },
        editPost(memo) {
            axios.get('/api/memo/show/' + memo.id)
            .then( response => {
                console.log(response.data)
                this.field = response.data
                this.edit = true
                this.image = '/storage/images/' + this.field.attached_file
            })
            .catch( error => {
                console.log(error.response)
            })
        },
        cancelEdit(){
            this.resetData()
        },
        resetData(){
            this.edit = false;
            this.field = {
                attached_file : null
            };
            this.$refs['file']['value'] = ""
        },
        deletePost(memo){
            this.resetData()
            const self = this
            const message = {
                title: 'Delete Memo?',
                body: 'Are you sure to delete it?'
            }
            this.$dialog.confirm(message, {
                okText: 'Continue',
                cancelText: 'Close',
                loader: true,
            })
            .then(function (dialog) {
                axios.delete('/api/memo/destroy/' + memo.id)
                .then( response => {
                    const url = self.pagination.data.length == 1? self.pagination.prev_url : self.pagination.current_page_url
                    self.paginate(url)
                    const success_data = response.data
                    self.$toasted.global.showSuccessMsg({
                        message : success_data.success
                    })
                    dialog.close();
                })
                .catch( error => {
                    dialog.close();
                    const err_data = error.response.data;
                    if(err_data.hasOwnProperty('error')) {
                        self.$toasted.global.showErrorMsg({
                            message : err_data.error
                        })
                    }
                })
            })
            .catch(function () {
                console.log('Clicked on cancel')
            })  
        },
        setFavourite(memo){
            let stat = memo.favourite;
            memo.favourite = stat? 0 : 1;
            axios.post('/api/memo/favourite/set', {
                id : memo.id,
                favourite : memo.favourite
            })
            .then( response => {
                const success_data = response.data
                this.$toasted.global.showSuccessMsg({
                    message : success_data.success
                })
            })
            .catch( error => {
                const err_data = error.response.data;
                if(err_data.hasOwnProperty('error')) {
                    this.$toasted.global.showErrorMsg({
                        message : err_data.error
                    })
                }
            })
        }
    }
   
}
</script>
